<div class="row" style="">
  <div class="row" >
    <div class="text-center">
      <h2>Welcome to U-Dirty-Rat</h2>
    </div>
  </div>
  <div class="row">


      <div class="row">
        <div class="container">
          <div class="text-center">
            <img src="images/runningRat.gif">
          </div>
        </div>
      </div>


      <div class="container">
        <div class="row">

            <div class="row">
              <div class="col-lg-12">
                <label><b>Username</b></label>
                <input type="text" placeholder="Enter Username" ng-model="vm.userName" style="width: 100%;" name="uname" required>
              </div>

            </div>

            <div class="row">
              <div class="col-lg-12">
                <label><b>Password</b></label>
                <input type="password" placeholder="Enter Password" ng-model="vm.password" style="width:100%" name="psw" required>

                <div class="row">
                  <div class="col-lg-4">
                  </div>

                  <div class="col-lg-4">
                    <div class="row">
                      <button ng-click="vm.logIn()" class="btn btn-success" style="width: 100%;">Login</button>

                      <button ng-click="vm.register()" class="btn btn-success" style="width: 100%;">Register</button>
                    </div>


                  </div>
                </div>

              </div>

            </div>



        </div>
      </div>


  </div>
</div>
